@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* body {
  background-color: rgb(5, 4, 2);
  overflow-x: hidden;
}
* body .container {
  margin: auto;
}
* body .container header {
  display: grid;
  padding: 14px 8%;
  grid-template-columns: 0.45fr 0.5fr 0.4fr;
  background-color: rgb(5, 4, 2);
  border-bottom: 1px solid #524336;
}
* body .container header .header_item:nth-of-type(1) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  align-content: center;
}
* body .container header .header_item:nth-of-type(1) .menu {
  display: none;
}
* body .container header .header_item:nth-of-type(1) .header_item_start {
  display: grid;
  gap: 10px;
  justify-content: space-between;
}
*
  body
  .container
  header
  .header_item:nth-of-type(1)
  .header_item_start
  .header_item_one_top
  p {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s;
}
*
  body
  .container
  header
  .header_item:nth-of-type(1)
  .header_item_start
  .header_item_one_top
  p
  svg
  path {
  transition: all 0.4s;
}
*
  body
  .container
  header
  .header_item:nth-of-type(1)
  .header_item_start
  .header_item_one_top
  p:hover {
  color: #bb8c5f;
}
*
  body
  .container
  header
  .header_item:nth-of-type(1)
  .header_item_start
  .header_item_one_top
  p:hover
  svg
  path {
  stroke: #bb8c5f;
}
*
  body
  .container
  header
  .header_item:nth-of-type(1)
  .header_item_start
  .header_item_one_top
  p
  span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #faf6f2;
  transition: all 0.4s;
}
*
  body
  .container
  header
  .header_item:nth-of-type(1)
  .header_item_start
  .header_item_one_top
  p
  span:hover {
  color: #bb8c5f;
}
*
  body
  .container
  header
  .header_item:nth-of-type(1)
  .header_item_start
  .header_item_one_bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}
*
  body
  .container
  header
  .header_item:nth-of-type(1)
  .header_item_start
  .header_item_one_bottom
  span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #d0d0d0;
  cursor: pointer;
  transition: all 0.4s;
}
*
  body
  .container
  header
  .header_item:nth-of-type(1)
  .header_item_start
  .header_item_one_bottom
  span:hover {
  color: #bb8c5f;
}
* body .container header .header_item:nth-of-type(1) .header_item_end {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
* body .container header .header_item:nth-of-type(1) .header_item_end p {
  display: flex;
  gap: 14px;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}
*
  body
  .container
  header
  .header_item:nth-of-type(1)
  .header_item_end
  p
  svg
  path {
  transition: all 0.4s;
}
* body .container header .header_item:nth-of-type(1) .header_item_end p:hover {
  color: #bb8c5f;
}
*
  body
  .container
  header
  .header_item:nth-of-type(1)
  .header_item_end
  p:hover
  svg
  path {
  stroke: #bb8c5f;
}
*
  body
  .container
  header
  .header_item:nth-of-type(1)
  .header_item_end
  p:hover
  span {
  color: #bb8c5f;
}
* body .container header .header_item:nth-of-type(1) .header_item_end p span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #faf6f2;
  transition: all 0.4s;
}
* body .container header .header_item:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}
* body .container header .header_item:nth-of-type(2) img {
  cursor: pointer;
}
* body .container header .header_item:nth-of-type(2) form {
  display: none;
}
* body .container header .header_item:nth-of-type(3) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}
* body .container header .header_item:nth-of-type(3) .header_item_block {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  transition: all 0.4s;
}
*
  body
  .container
  header
  .header_item:nth-of-type(3)
  .header_item_block
  svg
  path {
  transition: all 0.4s;
}
*
  body
  .container
  header
  .header_item:nth-of-type(3)
  .header_item_block
  svg
  circle {
  transition: all 0.4s;
}
* body .container header .header_item:nth-of-type(3) .header_item_block:hover {
  color: #bb8c5f;
}
*
  body
  .container
  header
  .header_item:nth-of-type(3)
  .header_item_block:hover
  svg
  path {
  stroke: #bb8c5f;
}
*
  body
  .container
  header
  .header_item:nth-of-type(3)
  .header_item_block:hover
  svg
  circle {
  stroke: #bb8c5f;
}
*
  body
  .container
  header
  .header_item:nth-of-type(3)
  .header_item_block:hover
  span {
  color: #bb8c5f;
}
*
  body
  .container
  header
  .header_item:nth-of-type(3)
  .header_item_block:nth-of-type(1) {
  position: relative;
}
*
  body
  .container
  header
  .header_item:nth-of-type(3)
  .header_item_block:nth-of-type(1)::after {
  content: "17";
  position: absolute;
  top: -10px;
  right: -13px;
  padding: 0px 5px;
  background: #bb8c5f;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #faf6f2;
}
* body .container header .header_item:nth-of-type(3) .header_item_block span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #faf6f2;
}
@media screen and (max-width: 1440px) {
  * body .container header {
    padding: 14px 0;
  }
}
@media screen and (max-width: 1210px) {
  * body .container header {
    justify-content: center;
    justify-items: center;
    grid-template-columns: 0.5fr 0.1fr 0.3fr;
  }
}
@media screen and (max-width: 1000px) {
  * body .container header {
    grid-template-columns: 1fr 0.5fr 0.7fr;
  }
}
@media screen and (max-width: 886px) {
  * body .container header {
    grid-template-columns: repeat(3, 1fr);
  }
  * body .container header .header_item:nth-of-type(1) {
    grid-template-columns: 1fr;
  }
  * body .container header .header_item:nth-of-type(1) .header_item_start {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  * body .container header .header_item:nth-of-type(1) {
    width: 100%;
    display: flex;
  }
  * body .container header .header_item:nth-of-type(1) .header_item_start {
    display: none;
  }
  * body .container header .header_item:nth-of-type(1) .header_item_end {
    display: none;
  }
  * body .container header .header_item:nth-of-type(1) .menu {
    display: block;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 140%;
    color: #faf6f2;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
  }
  * body .container header .header_item:nth-of-type(2) img {
    display: none;
  }
  * body .container header .header_item:nth-of-type(2) form {
    width: 100%;
    border: 1px solid #524336;
    display: flex;
    align-items: center;
    padding: 14px 22px;
    gap: 10px;
  }
  * body .container header .header_item:nth-of-type(2) form input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #636b78;
  }
  * body .container header .header_item:nth-of-type(3) {
    width: 100%;
    justify-content: space-between;
    justify-items: stretch;
  }
}
@media screen and (max-width: 768px) {
  *
    body
    .container
    header
    .header_item:nth-of-type(3)
    .header_item_block:nth-of-type(1) {
    width: 100%;
  }
  *
    body
    .container
    header
    .header_item:nth-of-type(3)
    .header_item_block:nth-of-type(1)::after {
    width: 21px;
    left: 65%;
  }
  *
    body
    .container
    header
    .header_item:nth-of-type(3)
    .header_item_block:nth-of-type(2),
  *
    body
    .container
    header
    .header_item:nth-of-type(3)
    .header_item_block:nth-of-type(3) {
    display: none;
  }
}
@media screen and (max-width: 410px) {
  * body .container header {
    grid-template-columns: repeat(2, 1fr);
  }
  * body .container header .header_item:nth-of-type(2) {
    display: none;
  }
}
* body .container nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 14px 8%;
  background-color: rgb(5, 4, 2);
}
* body .container nav .nav_item:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 62px;
}
* body .container nav .nav_item:nth-of-type(1) span {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  color: #faf6f2;
  cursor: pointer;
  transition: all 0.4s;
}
* body .container nav .nav_item:nth-of-type(1) span:hover {
  color: #bb8c5f;
}
* body .container nav .nav_item:nth-of-type(1) form {
  width: 100%;
  border: 1px solid #524336;
  display: flex;
  align-items: center;
  padding: 14px 22px;
  gap: 10px;
}
* body .container nav .nav_item:nth-of-type(1) form input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #636b78;
}
* body .container nav .nav_item:nth-of-type(2) {
  display: grid;
  align-items: center;
}
* body .container nav .nav_item:nth-of-type(2) ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
* body .container nav .nav_item:nth-of-type(2) ul li a {
  text-decoration: none;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #faf6f2;
  transition: all 0.4s;
}
* body .container nav .nav_item:nth-of-type(2) ul li a:hover {
  color: #bb8c5f;
}
@media screen and (max-width: 876px) {
  * body .container nav {
    padding: 14px 3%;
  }
}
@media screen and (max-width: 768px) {
  * body .container nav {
    display: none;
  }
}
* body .container main {
  border: inherit;
}
* body .container main .section_one {
  padding: 0px 8%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  width: 100%;
  background: url("../image/sect1.png") no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-color: rgb(5, 4, 2);
}
@media screen and (min-width: 1920px) {
  * body .container main .section_one {
    height: 700px;
  }
}
@media screen and (max-width: 550px) {
  * body .container main .section_one {
    background-position: 60% 50%;
  }
}
* body .container main .section_one .section_one_title {
  border: inherit;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
*
  body
  .container
  main
  .section_one
  .section_one_title
  .section_one_title_left
  h1 {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  line-height: 100%;
  color: #bb8c5f;
}
@media screen and (max-width: 768px) {
  *
    body
    .container
    main
    .section_one
    .section_one_title
    .section_one_title_left
    h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 550px) {
  *
    body
    .container
    main
    .section_one
    .section_one_title
    .section_one_title_left
    h1 {
    font-size: 38px;
  }
}
@media screen and (max-width: 420px) {
  *
    body
    .container
    main
    .section_one
    .section_one_title
    .section_one_title_left
    h1 {
    font-size: 30px;
  }
}
*
  body
  .container
  main
  .section_one
  .section_one_title
  .section_one_title_left
  p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  color: #faf6f2;
  margin-top: 30px;
}
@media screen and (max-width: 550px) {
  *
    body
    .container
    main
    .section_one
    .section_one_title
    .section_one_title_left
    p {
    font-size: 20px;
  }
}
@media screen and (max-width: 420px) {
  *
    body
    .container
    main
    .section_one
    .section_one_title
    .section_one_title_left
    p {
    font-size: 18px;
  }
}
*
  body
  .container
  main
  .section_one
  .section_one_title
  .section_one_title_left
  a {
  display: inline-block;
  padding: 18px 64px;
  margin-top: 60px;
  background: url("../image/sect1_btn.png") no-repeat;
  background-size: 100% 100%;
  text-decoration: none;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #faf6f2;
  transition: all 0.4s;
}
@media screen and (max-width: 550px) {
  *
    body
    .container
    main
    .section_one
    .section_one_title
    .section_one_title_left
    a {
    display: block;
  }
}
@media screen and (max-width: 341px) {
  *
    body
    .container
    main
    .section_one
    .section_one_title
    .section_one_title_left
    a {
    padding: 8px 30px;
  }
}
*
  body
  .container
  main
  .section_one
  .section_one_title
  .section_one_title_left
  a:hover {
  background-image: url("../image/sect.png");
  color: #bb8c5f;
}
*
  body
  .container
  main
  .section_one
  .section_one_title
  .section_one_title_right {
  border: inherit;
  display: grid;
  gap: 15px;
  justify-content: flex-end;
  justify-items: center;
}
*
  body
  .container
  main
  .section_one
  .section_one_title
  .section_one_title_right
  .section_one_title_right_item {
  width: 16px;
  height: 16px;
  border: 1px solid #524336;
  position: relative;
  cursor: pointer;
  transition: all 0.4s;
}
*
  body
  .container
  main
  .section_one
  .section_one_title
  .section_one_title_right
  .section_one_title_right_item:nth-of-type(2)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: #bb8c5f;
}
*
  body
  .container
  main
  .section_one
  .section_one_title
  .section_one_title_right
  .section_one_title_right_item:first-of-type {
  width: 40px;
  height: 40px;
  border: 1.5px solid #bb8c5f;
  background-color: transparent;
  position: relative;
}
*
  body
  .container
  main
  .section_one
  .section_one_title
  .section_one_title_right
  .section_one_title_right_item:first-of-type::before {
  content: url("../image/sect1_topage.png");
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 0%);
}
*
  body
  .container
  main
  .section_one
  .section_one_title
  .section_one_title_right
  .section_one_title_right_item:last-of-type {
  width: 40px;
  height: 40px;
  border: 1.5px solid #bb8c5f;
  background-color: transparent;
  position: relative;
}
*
  body
  .container
  main
  .section_one
  .section_one_title
  .section_one_title_right
  .section_one_title_right_item:last-of-type::before {
  content: url("../image/sect1_topage.png");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%) rotate(180deg);
}
*
  body
  .container
  main
  .section_one
  .section_one_title
  .section_one_title_right
  .section_one_title_right_item:hover:not(:first-of-type)::after,
*
  body
  .container
  main
  .section_one
  .section_one_title
  .section_one_title_right
  .section_one_title_right_item:hover:not(:last-of-type)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: #bb8c5f;
}
@media screen and (max-width: 768px) {
  *
    body
    .container
    main
    .section_one
    .section_one_title
    .section_one_title_right {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  * body .container main .section_one .section_one_title {
    grid-template-columns: 1fr 0.2fr;
  }
}
@media screen and (max-width: 768px) {
  * body .container main .section_one .section_one_title {
    grid-template-columns: 1fr;
  }
}
* body .container main .section_two {
  background: #eeeeee;
  padding: 120px 8%;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  * body .container main .section_two {
    padding: 120px 0;
  }
}
@media screen and (max-width: 700px) {
  * body .container main .section_two {
    padding-top: 50px;
  }
}
* body .container main .section_two .section_two_row_top {
  border: inherit;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 25px;
}
@media screen and (max-width: 1010px) {
  * body .container main .section_two .section_two_row_top {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}
@media screen and (max-width: 700px) {
  * body .container main .section_two .section_two_row_top {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
*
  body
  .container
  main
  .section_two
  .section_two_row_top
  .section_two_row_top_col {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 115%;
  color: #3e424b;
  position: relative;
  cursor: pointer;
  transition: all 0.4s;
}
@media screen and (max-width: 1000px) {
  *
    body
    .container
    main
    .section_two
    .section_two_row_top
    .section_two_row_top_col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  *
    body
    .container
    main
    .section_two
    .section_two_row_top
    .section_two_row_top_col {
    font-size: 20px;
  }
}
*
  body
  .container
  main
  .section_two
  .section_two_row_top
  .section_two_row_top_col::after {
  width: 100%;
  content: url("../image/sect2_top.png");
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transition: all 0.4s;
}
@media screen and (max-width: 400px) {
  *
    body
    .container
    main
    .section_two
    .section_two_row_top
    .section_two_row_top_col::after {
    display: none;
  }
}
*
  body
  .container
  main
  .section_two
  .section_two_row_top
  .section_two_row_top_col:nth-of-type(3) {
  color: #bb8c5f;
}
*
  body
  .container
  main
  .section_two
  .section_two_row_top
  .section_two_row_top_col:nth-of-type(3)::after {
  opacity: 1;
}
*
  body
  .container
  main
  .section_two
  .section_two_row_top
  .section_two_row_top_col:hover {
  color: #bb8c5f;
}
*
  body
  .container
  main
  .section_two
  .section_two_row_top
  .section_two_row_top_col:hover::after {
  opacity: 1;
}
* body .container main .section_two .section_two_row_bottom {
  margin-top: 37px;
  border: inherit;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  * body .container main .section_two .section_two_row_bottom {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1010px) {
  * body .container main .section_two .section_two_row_bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 565px) {
  * body .container main .section_two .section_two_row_bottom {
    grid-template-columns: 1fr;
  }
}
*
  body
  .container
  main
  .section_two
  .section_two_row_bottom
  .section_two_row_bottom_col {
  border: inherit;
  padding: 30px;
  background: #f5f5f5;
  position: relative;
  transition: all 0.4s;
}
*
  body
  .container
  main
  .section_two
  .section_two_row_bottom
  .section_two_row_bottom_col:hover {
  transform: scale(1.1);
  z-index: 2;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
}
*
  body
  .container
  main
  .section_two
  .section_two_row_bottom
  .section_two_row_bottom_col::before {
  content: "Новинка";
  position: absolute;
  top: 30px;
  left: 30px;
  background: url("../image/sect2_new.png") no-repeat;
  background-size: 100% 100%;
  padding: 4px 18px 6px 10px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: #bb8c5f;
}
*
  body
  .container
  main
  .section_two
  .section_two_row_bottom
  .section_two_row_bottom_col::after {
  width: 24px;
  height: 24px;
  background-color: #3e424b;
  content: "";
  position: absolute;
  top: 30px;
  right: 30px;
  -webkit-clip-path: path(
    "M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"
  );
  clip-path: path(
    "M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"
  );
  cursor: pointer;
}
*
  body
  .container
  main
  .section_two
  .section_two_row_bottom
  .section_two_row_bottom_col
  img {
  border: inherit;
  width: 100%;
}
*
  body
  .container
  main
  .section_two
  .section_two_row_bottom
  .section_two_row_bottom_col
  .section_two_row_bottom_col_slide {
  margin-top: 5px;
  width: 30%;
  margin: auto;
  border: inherit;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
*
  body
  .container
  main
  .section_two
  .section_two_row_bottom
  .section_two_row_bottom_col
  .section_two_row_bottom_col_slide
  span {
  width: 6px;
  height: 6px;
  background: #e3e3e3;
  cursor: pointer;
}
*
  body
  .container
  main
  .section_two
  .section_two_row_bottom
  .section_two_row_bottom_col
  .section_two_row_bottom_col_slide
  span:hover {
  background: #524336;
}
*
  body
  .container
  main
  .section_two
  .section_two_row_bottom
  .section_two_row_bottom_col
  .section_two_row_bottom_col_slide
  span:first-of-type {
  background: #524336;
}
*
  body
  .container
  main
  .section_two
  .section_two_row_bottom
  .section_two_row_bottom_col
  h3 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #3e424b;
  margin-top: 11px;
}
@media screen and (max-width: 768px) {
  *
    body
    .container
    main
    .section_two
    .section_two_row_bottom
    .section_two_row_bottom_col
    h3 {
    font-size: 15px;
  }
}
*
  body
  .container
  main
  .section_two
  .section_two_row_bottom
  .section_two_row_bottom_col
  h2 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #bb8c5f;
  margin-top: 10px;
}
*
  body
  .container
  main
  .section_two
  .section_two_row_bottom
  .section_two_row_bottom_col
  .section_two_row_bottom_col_korzina {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #bb8c5f;
  padding: 8px 42px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.4s;
  background: url("../image/btn_sect2.png") no-repeat;
  background-size: 100% 100%;
}
@media screen and (max-width: 341px) {
  *
    body
    .container
    main
    .section_two
    .section_two_row_bottom
    .section_two_row_bottom_col
    .section_two_row_bottom_col_korzina {
    padding: 8px 30px;
  }
}
*
  body
  .container
  main
  .section_two
  .section_two_row_bottom
  .section_two_row_bottom_col
  .section_two_row_bottom_col_korzina:hover {
  background-image: url("../image/sect1_btn.png");
  color: #faf6f2;
}
* body .container main .section_two a {
  display: inline-block;
  margin-top: 50px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #bb8c5f;
  padding: 18px 77px;
  text-decoration: none;
  background: url("../image/sect.png") no-repeat;
  background-size: 100% 100%;
  transition: all 0.4s;
}
@media screen and (max-width: 341px) {
  * body .container main .section_two a {
    padding: 8px 30px;
  }
}
* body .container main .section_two a:hover {
  background-image: url("../image/sect1_btn.png");
  color: #faf6f2;
}
* body .container main .section_three {
  background: #eeeeee;
  padding: 0px 8%;
  text-align: center;
}
* body .container main .section_three h2 {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: #3e424b;
}
@media screen and (max-width: 768px) {
  * body .container main .section_three h2 {
    font-size: 50px;
  }
}
* body .container main .section_three .section_three_row {
  width: 100%;
  border: inherit;
  margin-top: 50px;
  display: grid;
  padding-bottom: 120px;
  grid-template-areas: "col1 col1 col2 col2 col2" "col3 col4 col4 col4 col5" "col6 col6 col6 col7 col8" "col9 col10 col11 col11 col11";
  gap: 20px;
}
@media screen and (max-width: 1100px) {
  * body .container main .section_three .section_three_row {
    grid-template-areas: "col1 col2 col2" "col3 col4 col4" "col5 col6 col6" "col7 col8 col9" "col10 col11 col11";
  }
}
@media screen and (max-width: 900px) {
  * body .container main .section_three .section_three_row {
    grid-template-areas: "col1 col1" "col2 col2" "col3 col3" "col4 col4" "col5 col5" "col6 col6" "col7 col7" "col8 col8" "col9 col9" "col10 col10" "col11 col11";
  }
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col {
  width: 100%;
  height: 350px;
  background: #f5f5f5;
  border: inherit;
  position: relative;
  padding: 40px 20px;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col
  img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col:nth-of-type(1) {
  grid-area: col1;
  background-color: #f4f4f4;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col:nth-of-type(1)::after {
  width: 15%;
  text-align: left;
  content: "Тату наборы";
  position: absolute;
  top: 40px;
  left: 50px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col:nth-of-type(2) {
  grid-area: col2;
  background-color: #f9f9f9;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col:nth-of-type(2)::after {
  width: 15%;
  text-align: left;
  content: "Держатели";
  position: absolute;
  top: 40px;
  left: 50px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col:nth-of-type(3) {
  grid-area: col3;
  background-color: #f9f9f9;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col:nth-of-type(3)::after {
  text-align: left;
  content: "Тату машинки";
  position: absolute;
  top: 30px;
  left: 50px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col:nth-of-type(4) {
  grid-area: col4;
  background-color: #f9f9f9;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col:nth-of-type(4)::after {
  width: 15%;
  text-align: left;
  content: "Педали и провода";
  position: absolute;
  top: 30px;
  left: 50px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col:nth-of-type(5) {
  grid-area: col5;
  background-color: #f9f9f9;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col:nth-of-type(5)::after {
  width: 15%;
  text-align: left;
  content: "Краски";
  position: absolute;
  top: 30px;
  left: 50px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col:nth-of-type(6) {
  grid-area: col6;
  background-color: #f9f9f9;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col:nth-of-type(6)::after {
  text-align: left;
  content: "Блоки питания";
  position: absolute;
  top: 30px;
  left: 50px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col:nth-of-type(7) {
  grid-area: col7;
  background-color: #f9f9f9;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col:nth-of-type(7)::after {
  text-align: left;
  content: "Наконечники";
  position: absolute;
  top: 30px;
  left: 50px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col:nth-of-type(8) {
  grid-area: col8;
  background-color: #f9f9f9;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col:nth-of-type(8)::after {
  text-align: left;
  content: "Тату иглы";
  position: absolute;
  top: 30px;
  left: 50px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col:nth-of-type(9) {
  grid-area: col9;
  background-color: #f9f9f9;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col:nth-of-type(9)::after {
  text-align: left;
  content: "Защита, ёмкости, расходники";
  position: absolute;
  top: 30px;
  left: 50px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col:nth-of-type(10) {
  grid-area: col10;
  background-color: #f9f9f9;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col:nth-of-type(10)::after {
  text-align: left;
  content: "Аксессуары";
  position: absolute;
  top: 30px;
  left: 50px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col:nth-of-type(11) {
  grid-area: col11;
  background-color: #f5f5f5;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col:nth-of-type(11)::after {
  text-align: left;
  content: "Принтеры и планшеты";
  position: absolute;
  top: 30px;
  left: 50px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.7;
  transition: all 0.4s;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col::after {
  color: #fff;
  transition: all 0.4s;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col:hover {
  transform: scale(1.1);
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col:hover::before {
  opacity: 0;
}
*
  body
  .container
  main
  .section_three
  .section_three_row
  .section_three_row_col:hover::after {
  color: #3e424b;
}
* body .container main .section_four {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background: #eeeeee;
}
@media screen and (max-width: 950px) {
  * body .container main .section_four {
    grid-template-columns: 1fr;
  }
}
* body .container main .section_four .section_four_item {
  border: inherit;
  height: 470px;
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  justify-items: center;
  padding: 40px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.8s;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  * body .container main .section_four .section_four_item {
    align-content: center;
  }
}
* body .container main .section_four .section_four_item h3 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #faf6f2;
}
@media screen and (max-width: 768px) {
  * body .container main .section_four .section_four_item h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 565px) {
  * body .container main .section_four .section_four_item h3 {
    font-size: 25px;
  }
}
* body .container main .section_four .section_four_item p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #bb8c5f;
  position: relative;
}
* body .container main .section_four .section_four_item p::after {
  content: url("../image/section_four_item.png");
  width: 100%;
  position: absolute;
  top: 60%;
  left: 0;
}
* body .container main .section_four .section_four_item:nth-of-type(1) {
  background: url("../image/section_four_1.png") no-repeat;
  background-size: cover;
  background-position: center;
}
* body .container main .section_four .section_four_item:nth-of-type(2) {
  background: url("../image/section_four_2.png") no-repeat;
  background-size: cover;
  background-position: center;
  text-align: left;
  justify-content: left;
  align-items: left;
  align-content: space-between;
  justify-items: center;
}
@media screen and (max-width: 768px) {
  * body .container main .section_four .section_four_item:nth-of-type(2) {
    align-content: center;
    justify-items: left;
  }
}
* body .container main .section_four .section_four_item:nth-of-type(2) h3 {
  text-align: left;
}
* body .container main .section_four .section_four_item:hover {
  background-size: 150%;
}
* body .container main .section_five {
  background: #eeeeee;
  padding: 120px 8%;
}
@media screen and (max-width: 1200px) {
  * body .container main .section_five {
    padding: 120px 3%;
  }
}
* body .container main .section_five h2 {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: #3e424b;
}
@media screen and (max-width: 768px) {
  * body .container main .section_five h2 {
    font-size: 50px;
  }
}
@media screen and (max-width: 565px) {
  * body .container main .section_five h2 {
    font-size: 32px;
  }
}
* body .container main .section_five p {
  float: right;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  color: #3e424b;
}
* body .container main .section_five .section_five_title {
  width: 100%;
  margin-top: 30px;
  display: grid;
  border: inherit;
  grid-template-columns: 0.2fr 6fr 0.2fr;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  * body .container main .section_five .section_five_title {
    grid-template-columns: 0 1fr 0;
  }
}
*
  body
  .container
  main
  .section_five
  .section_five_title
  .section_five_title_left {
  height: 0%;
  display: inline-block;
  padding: 25px 18px;
  border: 1.5px solid #bb8c5f;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  *
    body
    .container
    main
    .section_five
    .section_five_title
    .section_five_title_left {
    visibility: hidden;
  }
}
*
  body
  .container
  main
  .section_five
  .section_five_title
  .section_five_title_left:hover {
  background-color: #bb8c5f;
}
*
  body
  .container
  main
  .section_five
  .section_five_title
  .section_five_title_left:hover
  svg
  path {
  fill: #fff;
}
*
  body
  .container
  main
  .section_five
  .section_five_title
  .section_five_title_right {
  height: 0%;
  display: inline-block;
  padding: 25px 18px;
  border: 1.5px solid #bb8c5f;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  *
    body
    .container
    main
    .section_five
    .section_five_title
    .section_five_title_right {
    visibility: hidden;
  }
}
*
  body
  .container
  main
  .section_five
  .section_five_title
  .section_five_title_right:hover {
  background-color: #bb8c5f;
}
*
  body
  .container
  main
  .section_five
  .section_five_title
  .section_five_title_right:hover
  svg
  path {
  fill: #fff;
}
* body .container main .section_five .section_five_title .section_five_row {
  border: inherit;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  * body .container main .section_five .section_five_title .section_five_row {
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  * body .container main .section_five .section_five_title .section_five_row {
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 565px) {
  * body .container main .section_five .section_five_title .section_five_row {
    grid-template-columns: 1fr;
  }
}
*
  body
  .container
  main
  .section_five
  .section_five_title
  .section_five_row
  .section_five_row_col
  img {
  width: 100%;
  height: 100%;
}
* body .container main .section_six {
  background: #eeeeee;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  align-items: center;
}
@media screen and (max-width: 1110px) {
  * body .container main .section_six {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 1110px) {
  * body .container main .section_six .section_six_col:nth-of-type(2) {
    padding: 3%;
  }
}
* body .container main .section_six .section_six_col img {
  width: 100%;
}
* body .container main .section_six .section_six_col h3 {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 130%;
  color: #bb8c5f;
}
@media screen and (max-width: 768px) {
  * body .container main .section_six .section_six_col h3 {
    font-size: 40px;
  }
}
* body .container main .section_six .section_six_col p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #3e424b;
  margin-top: 20px;
}
* body .container main .section_six .section_six_col a {
  margin-top: 40px;
  display: inline-block;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #bb8c5f;
  padding: 18px 77px;
  text-decoration: none;
  background: url("../image/sect.png") no-repeat;
  background-size: 100% 100%;
  transition: all 0.4s;
}
@media screen and (max-width: 565px) {
  * body .container main .section_six .section_six_col a {
    display: block;
  }
}
@media screen and (max-width: 341px) {
  * body .container main .section_six .section_six_col a {
    padding: 8px 30px;
  }
}
* body .container main .section_six .section_six_col a:hover {
  background-image: url("../image/sect1_btn.png");
  color: #faf6f2;
}
* body .container main .section_seven {
  background: #eeeeee;
  padding-top: 120px;
  text-align: center;
}
* body .container main .section_seven h3 {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: #3e424b;
}
@media screen and (max-width: 768px) {
  * body .container main .section_seven h3 {
    font-size: 50px;
  }
}
@media screen and (max-width: 565px) {
  * body .container main .section_seven h3 {
    font-size: 25px;
  }
}
* body .container main .section_seven .section_seven_row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding-bottom: 30px;
  padding-top: 50px;
  position: relative;
  z-index: 2;
  margin-top: 100px;
  overflow: overlay;
  scrollbar-width: thin;
  scrollbar-color: #bb8c5f transparent;
}
@media screen and (max-width: 600px) {
  * body .container main .section_seven .section_seven_row {
    padding-top: 0px;
    margin-top: 50px;
    height: 500px;
    align-items: center;
    padding: 0 3%;
  }
}
* body .container main .section_seven .section_seven_row::-webkit-scrollbar {
  width: 12px;
}
*
  body
  .container
  main
  .section_seven
  .section_seven_row::-webkit-scrollbar-track {
  background: transparent;
}
*
  body
  .container
  main
  .section_seven
  .section_seven_row::-webkit-scrollbar-thumb {
  background-color: #bb8c5f;
  border-radius: 20px;
  border: 3px solid transparent;
}
*
  body
  .container
  main
  .section_seven
  .section_seven_row
  .section_seven_row_col {
  border: inherit;
  width: 598px;
  padding: 50px;
  background: #050402;
  position: relative;
}
@media screen and (max-width: 600px) {
  *
    body
    .container
    main
    .section_seven
    .section_seven_row
    .section_seven_row_col {
    width: 279px;
    max-height: 403px;
    overflow-y: overlay;
    padding-top: 150px;
  }
}
*
  body
  .container
  main
  .section_seven
  .section_seven_row
  .section_seven_row_col:nth-of-type(odd)::after {
  content: url("../image/section_seven_2.png");
  width: 80px;
  height: 80px;
  position: absolute;
  top: -50px;
  left: 50px;
  z-index: 10;
}
@media screen and (max-width: 600px) {
  *
    body
    .container
    main
    .section_seven
    .section_seven_row
    .section_seven_row_col:nth-of-type(odd)::after {
    top: 10%;
    left: 50%;
    transform: translate(-50%);
  }
}
*
  body
  .container
  main
  .section_seven
  .section_seven_row
  .section_seven_row_col:nth-of-type(even)::after {
  content: url("../image/section_seven_1.png");
  width: 80px;
  height: 80px;
  position: absolute;
  top: -50px;
  left: 50px;
  z-index: 10;
}
@media screen and (max-width: 600px) {
  *
    body
    .container
    main
    .section_seven
    .section_seven_row
    .section_seven_row_col:nth-of-type(even)::after {
    top: 10%;
    left: 50%;
    transform: translate(-50%);
  }
}
*
  body
  .container
  main
  .section_seven
  .section_seven_row
  .section_seven_row_col
  p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #d0d0d0;
}
*
  body
  .container
  main
  .section_seven
  .section_seven_row
  .section_seven_row_col
  a {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #bb8c5f;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-top: 34px;
  gap: 15px;
}
* body .container main .section_eight {
  background: #eeeeee;
  padding: 180px 0 200px 8%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 92px;
  align-items: center;
}
* body .container main .section_eight .section_eight_col {
  height: 100%;
  border: inherit;
}
* body .container main .section_eight .section_eight_col:nth-of-type(2) {
  display: flex;
  justify-content: center;
  width: 100%;
  background: url("../image/section_eight.png") no-repeat;
  background-size: 100% 100%;
  align-items: center;
}
*
  body
  .container
  main
  .section_eight
  .section_eight_col:nth-of-type(2)
  .section_eight_col_item {
  padding: 32px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: #f5f5f5;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  color: #bb8c5f;
  transition: all 0.4s;
  cursor: pointer;
  text-decoration: none;
}
*
  body
  .container
  main
  .section_eight
  .section_eight_col:nth-of-type(2)
  .section_eight_col_item
  span {
  display: flex;
  align-items: center;
}
*
  body
  .container
  main
  .section_eight
  .section_eight_col:nth-of-type(2)
  .section_eight_col_item
  span
  svg
  path {
  fill: #bb8c5f;
  transition: all 0.4s;
}
*
  body
  .container
  main
  .section_eight
  .section_eight_col:nth-of-type(2)
  .section_eight_col_item:hover {
  color: #f5f5f5;
  background-color: #bb8c5f;
}
*
  body
  .container
  main
  .section_eight
  .section_eight_col:nth-of-type(2)
  .section_eight_col_item:hover
  span
  svg
  path {
  fill: #f5f5f5;
}
* body .container main .section_eight .section_eight_col h2 {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: #3e424b;
}
@media screen and (max-width: 565px) {
  * body .container main .section_eight .section_eight_col h2 {
    font-size: 25px;
  }
}
* body .container main .section_eight .section_eight_col p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 115%;
  color: #3e424b;
  margin-top: 28px;
}
@media screen and (max-width: 565px) {
  * body .container main .section_eight .section_eight_col p {
    font-size: 17px;
  }
}
* body .container main .section_eight .section_eight_col form {
  margin-top: 33px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #636b78;
}
* body .container main .section_eight .section_eight_col form label {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #636b78;
  display: inline-block;
}
*
  body
  .container
  main
  .section_eight
  .section_eight_col
  form
  label:nth-of-type(2) {
  margin-top: 19px;
}
*
  body
  .container
  main
  .section_eight
  .section_eight_col
  form
  label:nth-of-type(3) {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 120%;
  color: #636b78;
  display: inline;
  margin-left: 20px;
}
* body .container main .section_eight .section_eight_col form input {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #050402;
  outline: none;
  padding: 23px 30px;
  margin-top: 9px;
  display: inline-block;
}
*
  body
  .container
  main
  .section_eight
  .section_eight_col
  form
  input[type="text"],
*
  body
  .container
  main
  .section_eight
  .section_eight_col
  form
  input[type="email"] {
  width: 100%;
  max-width: 392px;
}
@media screen and (max-width: 400px) {
  *
    body
    .container
    main
    .section_eight
    .section_eight_col
    form
    input[type="text"],
  *
    body
    .container
    main
    .section_eight
    .section_eight_col
    form
    input[type="email"] {
    max-width: 100%;
    padding: 8px 30px;
  }
}
*
  body
  .container
  main
  .section_eight
  .section_eight_col
  form
  input[type="checkbox"] {
  margin-top: 20px;
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
}
*
  body
  .container
  main
  .section_eight
  .section_eight_col
  form
  input[type="checkbox"]::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid #bb8c5f;
  border-radius: 3px;
  background-color: #bb8c5f;
}
*
  body
  .container
  main
  .section_eight
  .section_eight_col
  form
  input[type="checkbox"]:checked::after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid rgb(245, 245, 245);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}
*
  body
  .container
  main
  .section_eight
  .section_eight_col
  form
  input[type="submit"] {
  margin-top: 32px;
  cursor: pointer;
  outline: none;
  border: none;
  display: inline-block;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #bb8c5f;
  padding: 18px 77px;
  text-decoration: none;
  background: url("../image/sect.png") no-repeat;
  background-size: 100% 100%;
  transition: all 0.4s;
}
@media screen and (max-width: 341px) {
  *
    body
    .container
    main
    .section_eight
    .section_eight_col
    form
    input[type="submit"] {
    padding: 8px 30px;
  }
}
*
  body
  .container
  main
  .section_eight
  .section_eight_col
  form
  input[type="submit"]:hover {
  background-image: url("../image/sect1_btn.png");
  color: #faf6f2;
}
*
  body
  .container
  main
  .section_eight
  .section_eight_col
  form
  input::-moz-placeholder {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #d0d0d0;
}
*
  body
  .container
  main
  .section_eight
  .section_eight_col
  form
  input:-ms-input-placeholder {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #d0d0d0;
}
*
  body
  .container
  main
  .section_eight
  .section_eight_col
  form
  input::placeholder {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #d0d0d0;
}
@media screen and (max-width: 1200px) {
  * body .container main .section_eight {
    padding: 180px 0 200px 3%;
  }
}
@media screen and (max-width: 1100px) {
  * body .container main .section_eight {
    grid-template-columns: 1fr;
    padding: 180px 3%;
  }
  * body .container main .section_eight .section_eight_col {
    width: 100%;
  }
  * body .container main .section_eight .section_eight_col:nth-of-type(2) {
    display: none;
  }
  * body .container main .section_eight .section_eight_col form {
    width: 100%;
    padding: 0 3% 0 0;
  }
  *
    body
    .container
    main
    .section_eight
    .section_eight_col
    form
    input[type="email"] {
    max-width: 100%;
  }
  *
    body
    .container
    main
    .section_eight
    .section_eight_col
    form
    input[type="text"] {
    max-width: 100%;
  }
}
* body .container footer {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  gap: 80px;
  padding: 135px 8%;
}
* body .container footer .footer_col {
  border: inherit;
}
* body .container footer .footer_col p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #faf6f2;
  margin-top: 52px;
}
* body .container footer .footer_col:nth-of-type(2),
* body .container footer .footer_col:nth-of-type(3) {
  display: grid;
  justify-content: space-between;
  justify-items: flex-start;
  align-content: space-between;
  align-items: flex-end;
}
* body .container footer .footer_col:nth-of-type(2) span,
* body .container footer .footer_col:nth-of-type(3) span {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 133.5%;
  color: #e9ecf1;
  cursor: pointer;
  transition: all 0.4s;
}
* body .container footer .footer_col:nth-of-type(2) span:hover,
* body .container footer .footer_col:nth-of-type(3) span:hover {
  color: #bb8c5f;
}
* body .container footer .footer_col:nth-of-type(3) {
  justify-content: flex-start;
  align-content: flex-start;
  gap: 25px;
}
* body .container footer .footer_col:nth-of-type(4) .footer_col_social {
  border: inherit;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 15px;
}
* body .container footer .footer_col:nth-of-type(4) .footer_col_social span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #faf6f2;
  cursor: pointer;
}
* body .container footer .footer_col:nth-of-type(4) p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #636b78;
  margin-top: 12px;
}
* body .container footer .footer_col:nth-of-type(4) a {
  margin-top: 32px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #faf6f2;
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}
@media screen and (max-width: 1343px) {
  * body .container footer {
    grid-template-columns: none;
    grid-template-areas: "footer1 footer2 footer3" "footer4 footer4 footer4";
  }
  * body .container footer .footer_col:nth-of-type(1) {
    grid-area: footer1;
  }
  * body .container footer .footer_col:nth-of-type(2) {
    grid-area: footer2;
  }
  * body .container footer .footer_col:nth-of-type(3) {
    grid-area: footer3;
  }
  * body .container footer .footer_col:nth-of-type(4) {
    grid-area: footer4;
  }
}
@media screen and (max-width: 650px) {
  * body .container footer {
    width: 100%;
    padding: 135px 0;
    grid-template-areas: "footer1 footer1" "footer2 footer3" "footer4 footer4";
    justify-content: center;
    justify-items: stretch;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  * body .container footer {
    grid-template-areas: "footer1" "footer2" "footer3" "footer4";
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 100px 3%;
    text-align: center;
  }
  * body .container footer .footer_col {
    width: 100%;
  }
  * body .container footer .footer_col:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media screen and (min-width: 1920px) {
  * body .container {
    width: 1920px;
  }
}
@media screen and (max-width: 320px) {
  * body .container {
    width: 320px;
  }
} /*# sourceMappingURL=style.css.map */
